.gradle
/build
/doc/generated
/src/web/InterfazGrafica/nbproject/private/
/src/web/nbproject/private/
/src/web/build/
/src/web/dist/
/src/web/src/java/*.class
/src/web/src/java/DOM/*.class
/src/web/src/java/DAO/*.class
